*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}
.header_flex, .footer_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-color: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}
.container{
    max-width: 1070px;
    margin: 0 auto;
}
.btn1{
    background-color:#5454D4 ;
    border: 2px solid;
    border-color: black;
    margin: 20px 30px;
    padding: 20px 30px;
}
.nav_li{
    display: inline-block;
}
.nav_li:not(:first-of-type){
    margin-left: 49px;
}
.nav_link{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}
.nav_link:hover{
    color: black;
    transition: 300ms;
}
.button{
    width: 212px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}
.button_orange{
    background: #FF7143;
}
.button_orange:hover{
    background: #f67c53;
    transition: 500ms;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 104px auto 85px;
}
.about_title{
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}
.about_text{
    max-width: 464px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    margin-bottom: 50px;
}
.button_violet{
    background:#4242a3;
}
.button_transparent{
    background: none;
    color:#5454D4 ;
    border: 1px solid #5454D4;
    margin-left: 35px;
}

.footer{
    background-color: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}
.button_violet:hover{
    background:#2d2d72 ;
    transition: 500ms;
}
.button_transparent:hover{
    background:#d0d0fc ;
    transition: 500ms;
}